@model QuickBetCore.Areas.Agent.Data.withdawalrequestAdminModel
@using QuickBetCore.Models;
@{
    ViewBag.Title = "WithdrawalFromAgent";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    decimal balacne = 0;

    if (ViewData["balance"] != null)
    {
        var amount = ViewData["balance"].ToString();
        balacne = Convert.ToDecimal(amount);
    }
    decimal minimmumAmount = ApplicationVariable.DefaultMininumBalanceToWithdraw;
    if (ViewData["minumumAmount"] != null)
    {
        var amount = ViewData["minumumAmount"].ToString();
        minimmumAmount = Convert.ToDecimal(amount);
    }
    decimal AvialableBalanceForWithdraw = (decimal)ViewBag.PaymentToBeWithrawal;
}

<style>
    @@media (min-width: 320px) and (max-width: 480px) {
        /*h6.page-title {
            text-indent: 91px;
        }
        .fix {
            color: #333;
            margin-bottom: 0;*/
        /* position: relative; */
        /*padding-right: 10px;
        }*/
        .header .header-left .logo {
            display: inline-block;
        }

        a.btn.btn-success {
            position: relative !important;
            top: -8px !important;
        }

        .mobile_btn {
            color: #000 !important;
        }
    }
</style>
<style>
    .btn-chat {
        background-color: #5b4e84;
        font-size: 18px;
    }

    label.col-form-label.col-md-12 {
        font-size: 18px;
    }

    .card {
        padding: 15px 10px;
    }

    .iti {
        width: 100%;
    }

    .page-title::before {
        display: none
    }
</style>

<div>
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="d-flex align-items-center">
                    <h6 class="page-title ">Account balance: ₦ @balacne</h6>

                    <h6 class="page-title ml-auto">Availabe balance to be Withdrawal :  ₦ @ViewBag.PaymentToBeWithrawal</h6>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Withdraw Funds from agent</h6>
                </div>
                <div class="card-body">
                    @if (AvialableBalanceForWithdraw >= minimmumAmount)
                    {
                        @using (Html.BeginForm("FundWidhdawalrequest", "Funds", FormMethod.Post, new { @class = "log-form", id = "AddRequest" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group row">
                                <label class="col-form-label col-md-12">Select Agent* <span class="text-holder" style="color:red"></span></label>
                                <div class="col-md-12">
                                    @Html.ValidationMessageFor(m => m.AgentId, "", new { @class = "error" })
                                    @* @Html.TextBoxFor(m => m.email, new { @class = "form-control", type = "email", placeholder = "Enter recipient email" })*@
                                    @Html.DropDownListFor(m => m.AgentId, (IEnumerable<SelectListItem>)ViewBag.UserList, null, new { @class = "form-control", @onchange = "getVal()" })
                                    <span class="Message"></span>
                                    <input type="hidden" id="AgentAmount" name="AgentAmount" />
                                </div>
                            </div>

                            <input type="hidden" name="MinimumAmount" id="MinimumAmount" value="@ViewBag.PaymentToBeWithrawal" />
                            <div class="form-group row">
                                <label class="col-form-label col-md-12">Amount * </label>
                                <div class="col-md-12">
                                    @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "error" })
                                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", type = "number", required = "true", @min = minimmumAmount, placeholder = "Enter amount" })
                                    *Wallet balance to be Withdrawal :₦ @ViewBag.PaymentToBeWithrawal
                                    <br />
                                    *Minimum Amount to Withdrawal :₦ @minimmumAmount
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-12">Note * </label>
                                <div class="col-md-12">
                                    @Html.ValidationMessageFor(m => m.Note, "", new { @class = "error" })
                                    @Html.TextBoxFor(m => m.Note, new { @class = "form-control", type = "text", placeholder = "Enter note..", required="true" })
                                </div>
                            </div>
                            <button type="submit" value="Submit" id="Submit" class="btn-chat" style="display: inline;">Submit</button>
                        }
                    }
                    else
                    {
                        <span class="label btn-danger">
                            insufficient funds to withdraw ,
                            minimum amount to withdraw:@minimmumAmount
                        </span>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"
        integrity="sha512-DNeDhsl+FWnx5B1EQzsayHMyP6Xl/Mg+vcnFPXGNjUZrW28hQaa1+A4qL9M+AiOMmkAhKAWYHh1a+t6qxthzUw=="
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css"
      integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg=="
      crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
        integrity="sha512-BNZ1x39RMH+UYylOW419beaGO0wqdSkO7pi1rYDYco9OL3uvXaC/GTqA5O4CVK2j4K9ZkoDNSSHVkEQKkgwdiw=="
        crossorigin="anonymous"></script>
<script type="text/javascript">

    function getVal() {

        var myElement = document.getElementById('AgentId'),
            myElementValue = myElement.value;
        $.ajax({
            type: "POST",
            url: "/User/Funds/GetAgentpendingAmount?Id=" + myElementValue,
            //data: '{Id: "' + myElementValue + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                if (response.Code == 200) {
                    //alertify.success(response.Msg);
                    //loadPaymentRequets(true);
                    $('.Message').text("Selected Agent limit for today is " + response.AgentBalance);
                    $('#AgentAmount').val(response.AgentBalance)
                }
                else {
                    $('.Message').text("Sorry agent daily limit exceeded!");
                    $('#AgentAmount').val(response.AgentBalance)
                }

            },
            failure: function (response) {
                Loader(false);
                alertify.error(response.responseText);
            },
            error: function (response) {
                Loader(false);
                alertify.error(response.responseText);
            }
        });
    }

</script>



@if (ViewBag.response != null)
{

    var response = ViewBag.response as QuickBetCore.Models.ApiResponse;

    if (response.Code == 200)
    {
        <script>
            debugger;
            $(document).ready(function () {
                swal({
                    title: "Welcome",
                    text:"@response.Msg",
                    icon: "success"
                });
            });
        </script>

    }
    else if (response.Code == 201)
    {
        <script>
            $(document).ready(function () {
                swal({
                    title: "Welcome",
                    text: "@response.Msg",
                    icon: "error"
                });
            });
        </script>

    }
}

<script>
    $(document).ready(function () {

        $("#AddRequest").submit(function () {

            if ($("#AgentId").val() !== "" && $("#Amount").val() !== "" && $("#Note").val() !== "") {
                $('#Submit').attr("disabled", "disabled");
                $('#Submit').html("Please wait..");
            }
        });
    });
</script>